.slider {
  display: flex;
}
.slider__contaner {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-top: 20px;
}
.slider__item {
  margin-bottom: 10px;
}
.slider__heading {
  display: flex;
  flex-direction: column;
}
.slider__heading h2 {
  color: rgb(143, 131, 131);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.slider__heading p {
  font-size: 10px;
  color: rgb(143, 131, 131);
}
.slider__heading p span {
  font-weight: 400;
  font-size: 11px !important;
  margin-right: 2px;
}
.PrivateValueLabel-circle-4 {
  border-radius: 50% !important;
  background-color: transparent !important;
}
.PrivateValueLabel-label-5 {
  color: #000 !important;
  margin-top: 20px !important;
  margin-left: -20px !important;
  font-weight: 600 !important;
  color: rgb(45, 109, 192) !important;
}
.MuiSlider-thumb {
  background-color: rgb(45, 109, 192) !important;
}
.slider__control {
  display: flex;
  flex-direction: column;
}
.slider__control > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.slider__control > div h3 {
  font-size: 11px;
  color: rgb(143, 131, 131);
  font-weight: 400;
}
